<h1><%= @restaurant.name %></h1>
<h3><%= @restaurant.address %></h3>
<p><%= @restaurant.category %></p>
<br>
  <%= link_to 'Add a review', new_review_path(@restaurant) %>

<h2>Reviews</h2>
<%@reviews.each do |review| %>
  <%= review.content %>
<% end %>
